<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Customer</h1>
    <div class="col-6 offset-3">
    <form action="/customers" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label" for="name">NAME</label>
            <input class="form-control" type="text" id="name" name="customer[name]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="number">Mobile number</label>
            <input class="form-control" type="number" id="number" name="customer[number]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" type="text" id="address" name="customer[address]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <textarea class="form-control" type="text" id="password" name="customer[password]" required></textarea>
        </div>
        <div class="mb-3">
        <button class="btn btn-success">Add Customer</button>
        </div>
    </form>
    
    </div>
    </div>

    
    
